  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- header Nav Start -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <br><a href="https://github.com/bmlam89">Github</a>
                  <a href="https://www.linkedin.com/in/bmlam1">LinkedIn</a>
                </a>
              </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="index.html">Home</a></li>
                    <li><a href="work.html">Work</a></li>-->
                    <li><a [routerLink]="['projects']">Passion Projects</a></li>
                    <li><a [routerLink]="['contact']">Contact Me</a></li>
                    <!--<li><a href="contact.html">Contact</a></li>-->
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </header><!-- header close -->
        
    <!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="block">
              <h1 class="animated fadeInUp text-center">A PORTFOLIO ABOUT WHO I AM AND MY PERSONAL ACCOMPLISHMENTS <br> </h1>
              <p class="animated fadeInUp text-center">My goal is to show others a preview of my skillset and capabilities while giving others the opportunity to learn more about me. <br> </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Wrapper Start -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>About This Site</h2>
              </div>
              <p>The aesthetics of this portfolio is due in large part to the templates offered by Dcrazed. With a layout that closely matched my sense of style, I was successfully able to integrate all folders and files associated with this template layout into my application. Frameworks involved in this application are Express, NodeJS, and Angular. The next few slides will give a little more information about who I am, projects I've done, and a chance for visitors to drop a comment or just leave feedback.  </p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="../../assets/img/wrapper-img.gif" alt="Img">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2>SEEING IS BELIEVING</h2>
          <p>I am proud to showcase some of my work. Although the presentation of some may not be aesthetically pleasing, I am proude to put them on display due to the challenges I had to overcome in completeing my goals at hand. Each project is implemented in either JavaScript or Python and involves the use of a JS or Python based framework.</p>
          <a [routerLink]="['projects']" class="btn btn-view-works">View Works</a>
        </div>
      </div>
    </div>
  </section>
        
    <!-- Service Start -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Passions Interests and Goals</h2>
            <p>Below are small snippets about myself that I hope gives viewers a small glimpse of who I am on a personal level.</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="icon ion-ios-americanfootball"></i>
              <h4>I'm the Champ!</h4>
              <p>Fantasy Football! One of my favorite activities during the season. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-ios-basketball"></i>
              <h4>Ball is Life</h4>
              <p>Basketball. Playing and watching! It's never too late to jump on the bandwagon. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-ios-people"></i>
              <h4>Friends & Family</h4>
              <p>As they say, friends and family are the most important things in life. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-social-apple"></i>
              <h4>Stay Hungry, Stay Foolish.</h4>
              <p>Steve Jobs couldn't have said it better. I will always feel like there's room for growth - personal and professional.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-cash"></i>
              <h4>Baller Is Life</h4>
              <p>Is it a crime to want to put myself in a financially successful position for the future?</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-social-angular-outline"></i>
              <h4>Lead the Way</h4>
              <p>Technology is always changing. Learning new frameworks and languages and constantly improving is always on my mind.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-map"></i>
              <h4>Not All Who Wander Are Lost</h4>
              <p>Traveling and exploring new things in life has always been one of my greatest passions. </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <i class="ion-social-instagram"></i>
              <h4>Creative Thinking Inspires Ideas. Ideas Inspire Change</h4>
              <p>Just like any great idea that's had a large impact on my life, I want to stand fully stand behind my own and the projects I create.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Let's Get to Know Each Other</h2>
              <p>I'd love to hear feedback or any comments in general. Maybe even a little about yourself as well. Don't be afraid to leave a message (this feature is fully functional)!</p>
              <a class="btn btn-default btn-call-to-action" [routerLink]="['contact']" >Leave a Comment!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content Start -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>More About this Portfolio</h2>
            <p>Thanks for visiting. Hope to hear from you soon!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-social-javascript"></i>
                    <h4 class="counter">3</h4>
                    <span>Languages Used</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-social-angular"></i>
                    <h4 class="counter">3</h4>
                    <span>Frameworks Used</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-calendar-outline"></i>
                    <h4 class="counter">4</h4>
                    <span>Days Spent</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-happy"></i>
                    <h4 class="counter">0</h4>
                    <span>Tears Shed</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src="../../assets/img/cotation.png" alt="IMG">
                    <p>Project Component is still a work in progress. They have yet to be deployed.</p>
                    <div class="user">
                      <!--<img src="../../assets/img/item-img1.jpg" alt="Pepole">-->
                      <!--<p><span>Rose Ray</span> CEO</p>-->
                    </div>
                </div>
                <div>
                  <img src="../../assets/img/cotation.png" alt="IMG">
                    <p>This was deployed using AWS. I am in no way an expert on nginx and AWS. Still trying to improve in this area.</p>
                    <div class="user">
                      <!--<img src="../../assets/img/item-img1.jpg" alt="Pepole">-->
                      <!--<p><span>Rose Ray</span> CEO</p>-->
                    </div>
                </div>
                <div>
                  <img src="../../assets/img/cotation.png" alt="IMG">
                    <p>My framework of choice has been Angular due to how powreful it is. I am able also able to utilize Django and Flask.</p>
                    <div class="user">
                      <!--<img src="../../assets/img/item-img1.jpg" alt="Pepole">-->
                      <!--<p><span>Rose Ray</span> CEO</p>-->
                    </div>
                </div>
                <div>
                  <img src="../../assets/img/cotation.png" alt="IMG">
                    <p>Just a small project that I hope gives others a small preview of what I can offer.</p>
                    <div class="user">
                      <!--<img src="../../assets/img/item-img1.jpg" alt="Pepole">-->
                      <!--<p><span>Rose Ray</span> CEO</p>-->
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>








    
    <!-- footer Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-manu">
              Huge shoutout to Dcrazed for providing such a clean cut template!
            </div>
            <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">Dcrazed</a>.</p>
          </div>
        </div>
      </div>
    </footer>
            
            
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
            