  <div class="row">
    <div class="col-sm-3 x">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fyM_k3zvKAA" frameborder="0" gesture="media" allowfullscreen class="youtube-player" ></iframe>      
        <p><strong>Description:</strong> Simple group messaging web application.<br>
        <strong>Technologies Used:</strong> Express, NodeJS, jQuery, Socket.Io
      </p>
    </div>
    <div class="col-sm-3 y">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r19ljwh279w" frameborder="0" gesture="media" allowfullscreen class="youtube-player"></iframe>        
        <p><strong>Description:</strong> Course management web application<br>
        <strong>Technologies Used:</strong> Python, Django, HTML, CSS, MySQL, bootstrap
    </div> 
    <div class="col-sm-3 y">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nUQAicM1SK4" frameborder="0" gesture="media" allowfullscreen class="youtube-player"></iframe>      
      <p><strong>Description:</strong> Commerce site where users can sell general products. Users<br>can post multiple products and remove or update a posting if they change their mind.<br>
      <strong>Technologies Used:</strong> Express, NodeJS, jQuery, Angular</div>
  </div>

  <!--<div class="row">
    <div class="col-sm-3 x">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xu4l08Pkwh8" frameborder="0" allowfullscreen class="youtube-player"></iframe>
      <p><strong>Description:</strong> Simple group messaging web application.<br>
      <strong>Technologies Used:</strong> Express, NodeJS, jQuery, Socket.Io    </div>
    <div class="col-sm-3 y">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xu4l08Pkwh8" frameborder="0" allowfullscreen class="youtube-player"></iframe>
      <p><strong>Description:</strong> Simple group messaging web application.<br>
      <strong>Technologies Used:</strong> Express, NodeJS, jQuery, Socket.Io    </div>    
  </div>-->
